{% extends 'base.html' %}
{% load static %}
{% block title %}A Propos{% endblock title %}
{% block content %}
<div class="mt-5 mx-4 text-justify">
    <h3 class="text-center">A propos de <span  class="gpi-primary">GPI-Benin</span></h3>
<p class="mb-3">GPI-Benin (sigle de Gestionnaire  de Parc Informatique du BEnin) est un logiciel gouvernemental de gestion des services informatiques et de gestion des services d'assistance (issue tracking system et ServiceDesk). Cette solution libre est éditée en Django(Python).</p>

<p class="mb-3">En tant que technologie gouvernemental, toute personne ne peut exécuter, modifier ou développer le code qui est conçu. De ce fait, les contributeurs peuvent participer à l’évolution du logiciel en soumettant des modules supplémentaires libre et open source, sur github.</p>

<p class="mb-3">GLPI est une application web qui aide les entreprises à gérer leur système d’information. Parmi ses caractéristiques, cette solution est capable de construire un inventaire de toutes les ressources de la société et de réaliser la gestion des tâches administratives et financières. Les fonctionnalités de cette solution aident les administrateurs informatiques à créer une base de données regroupant des ressources techniques et de gestion, ainsi qu’un historique des actions de maintenance. La fonctionnalité de gestion d'assistance ou helpdesk fournit aux utilisateurs un service leur permettant de signaler des incidents ou de créer des demandes basées sur un actif ou non, ceci par la création d'un ticket d’assistance.</p>
</div>
{% endblock %}
