{% extends '../base.html' %}
{% block content %}
{% if form.errors %}{{ form.errors }}{% endif %}
  <form method="post" class="offset-md-1 row col-md-8 col-sm-6 col px-3 shadow pt-3 mx-2 mx-md-5">
    {% csrf_token %}
    {% if mesasages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>Alert Heading</strong> {{ messages }}
    </div>
    
    <script>
      var alertList = document.querySelectorAll('.alert');
      alertList.forEach(function (alert) {
        new bootstrap.Alert(alert)
      })
    </script>
    
    {% endif %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary col-6 col-md-8 offset-md-2 offset-3 mb-3" id="add-review-form" value="Ajouter" />
  </form>
{% endblock %}
